/*全画面で汎用的なクラス*/

/* タグ内の文字を改行表示(textareaの表示など)  改行や半角スペースがブラウザ表示にそのまま反映*/
/* このクラス名を使用したタグのすぐ次に書くこと。スペースと見なされてしまうため。 */
.pre-wrap {
    white-space: pre-wrap;
}

/* 表示する時に要素内で改行してくれる */
.break-word {
    overflow-wrap: break-word;
}
.word-break {
    word-break: break-all;
}

/*背景系*/
.bg-white {
    background: #FFFFFF;
}

.bg-customer-gray {
    background-color: #F7F7F7;
}
