@charset "utf-8";
/*
 * custom.css
 *
 */

 /* スマホ表示切替レスポンシブ(766xまでスマホ表示)
 	layout.css 287あたり、
		@media screen and (max-width: 860px) {　
									　 ↓
		@media screen and (max-width: 767px) {
										変更する必要あり。

		@media screen and (max-width: 767px) {
		#gNavi .navUl02.pc{display: none}
		#gNavi .navUl02.sp{display: block;}
		.btnMenu{ display:block; }
		#gNavi{ ~~~~~~

	page.css 4191あたり、
		@media screen and (max-width: 860px) {　
									　 ↓
		@media screen and (max-width: 767px) {
										変更する必要あり。
			.navHeadSp { ~~~ } */

/* コメントアウトしている間のみヘッダーフッター調整 */
	/* ヘッダー */
	/* #wrapper {
		padding-top: 81px;
	} */
	/* フッター */
	/* @media screen and (max-width: 767px){
		#footer .bottom {
			padding: 15px 0;
			border-top: 0;
		}
		#footer {
			margin-top:10px;
			padding: 0 0 50px;
			bottom: 50px !important;
			width: 100vw;
		}
		#footer .serviceLinks {
			display: block;
			margin-bottom: 0;
		}
		#footer .bottom .inner {
			display: flex;
		}
	}
	#footer .bottom {
		padding: 20px 0;
	} */
/* コメントアウトしている間のみヘッダーフッター調整 */

@media screen and (max-width: 766px){
	#contents {
		margin-bottom: 35px;
	}
}
#mypage .sidePerson {
	display: none;
}
#mypage
.detailStyle .recommendList .list .item{max-width: 212px}
.fancyPersonTable select {
	color: black;
}
.fancyPersonBtn button{
	margin-left: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;
	border-radius: 3px;
	font-size: 1.4rem;
	border: 1px solid #CCCCCC;
	padding: 0 12px;
	background-color: #fff;
}
.fancyPersonBtn button.fancyPersonSign{
	border: 0;
	background-color: #158ACC;
	color: #fff;
	font-weight: bold;
}
.fancyPersonPic p.img {
	height: 140px;
	width: 140px;
}
.mypageCover{
	margin: 0 -20px;
	position: relative;
	height: 230px;
}
.mypageCover label{
	position: absolute;
	right: 40px;
	top: 20px;
	z-index: 2;
}

#preview_cover{
	width: 100%;
	height: 230px;
	object-fit: cover;
}
@media screen and (max-width: 767px){
	#preview_cover{
		height: 160px;
	}
	.add_cover {
		height: 25px;
	}
}

.alert.alert-danger {
	color:red;
}

.contactBox .labelCategory input[type='password'],
.contactBox .labelCategory input[type='email'] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    height: 45px;
    padding: 0 14px;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-top: 5px;
}

.public01:before{
	content: '非公開';
	position: absolute;
	left: -1px;
	top:  -1px;
	z-index: 99;
	color: #fff;
	font-size: 1rem;
	padding: 5px;
	background-color: #B4B4B4
}
.public02:before{
	content: '公開';
	position: absolute;
	left: -1px;
	top:  -1px;
	z-index: 99;
	color: #fff;
	font-size: 1rem;
	padding: 5px;
	background-color: #FCAA00
}

@media screen and (max-width: 767px){
	#gNavi .navLinks li {
		margin: 0 20px;
		-ms-writing-mode     : tb-rl;
		-webkit-writing-mode : vertical-rl;
		writing-mode         : vertical-rl;
	}
}
.active .sp {
 	display: block;
}

@media screen and (max-width: 1080px){
	#header .fun a {
		padding: 0 10px;
		width: auto;
		white-space: nowrap;
	}
}
#header .navMypageUl a.log {
	width: 80px;
	text-align: center;
	margin:10px 10px 10px 0;
	background:#9CC948;
	border-radius:4px;
	line-height: 40px;
	color:#fff;
	font-size:1.3rem;
	font-weight: bold;
	padding: 0 10px;
	width: auto;
	white-space: nowrap;
	display: flex;
    justify-content: center;
    align-items: center;
}
#login #header .navMypageUl a.log,
#register_confirm #header .navMypageUl a.log
 {
	display:none;
}
#login #header .fun a.log,
#register_confirm #header .fun a.log  {
	display:none;
}
#register #header .navMypageUl a.sign,
#register_confirm #header .navMypageUl a.sign {
	display:none;
}
#register #header .fun a.sign,
#register_confirm #header .fun a.sign {
	display:none;
}
#header .navMypageUl .sign{
	width: 80px;
	text-align: center;
	margin:10px 10px 10px 0;
	background:#45B2E6;
	border-radius:4px;
	line-height: 40px;
	color:#fff;
	font-size:1.3rem;
	font-weight: bold;
	padding: 0 10px;
	width: auto;
	white-space: nowrap;
	display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 768px){
	.btnMenu.active span {
		background-color: #777777;
	}
}
#register_confirm #wrapper {
	min-height: auto;
}

.input_a {
	width: 100%;
	color: #1f98da;
	background-color: white !important;
    margin-bottom: 60px;
	border: none;
	align-items: center;
}
@media screen and (max-width: 767px){
	#header .fun {
    	padding-right: 0px;
		display: none;
	}
	.mypageCover{
		margin: 0 -15px;
		position: relative;
		height: 160px;
		object-fit: cover;
	}
	.btnMenu.active span {
		background-color: #ffffff;
	}
	.input_a {
		margin-bottom: 30px;
	}
	#register .stepUl li + li .stepDot:before {
		width: 150px;
	}
}
@media screen and (max-width: 320px){
	#register .stepUl li + li .stepDot:before {
		width: 120px;
	}
}
.fancybox-overlay {
    background-color: rgba(0,0,0,.5) !important;
}
.navMypageDl dt {
    border: none;
}
@media screen and (max-width: 860px){
	.navMypageUl a.blueBtn {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 4px;
		height: 30px;
		color: #fff;
		font-weight: bold;
		background: #158ACC;
		margin: 10px 0;
	}
	.gnavEdit a {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 12px;
		height: 30px;
		border: 1px solid #B6BFC2;
		border-radius: 4px;
		margin: 15px 0;
	}
	.navMypageUl + .navMypageUl {
		border-top: 1px solid #ddd;
		padding-top: 15px;
		margin-top: 20px;
	}
}
#gNavi .navUl02 li a.nav_mypage {
    border: none;
}

.fancyImgBtn {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}
.fancyImgBtn a {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    border-radius: 3px;
    font-size: 1.1rem;
    border: 1px solid #CCCCCC;
    padding: 0 5px;
    background-color: #fff;
}
.unregisteredP {
    justify-content: space-between;
}

.limit_acount { /**利用制限されているとき*/
	background-color: #f55c41d8;
}

/*  身分証登録ポップアップ閉じるボタン */
.pop_close:hover {
	cursor: pointer;
}
.pop_close {
	margin-right: 20px;
	font-weight: 700;
    font-size: 2.2rem;
	color: white;
}
@media screen and (max-width: 425px){
	.pop_close {
    font-size: 1.6rem;
	margin-right: 10px;
	}
}
.mypageCover label {
    right: 20px;
}
.checkBox label a {
	color: #158ACC;
}
@media screen and (min-width: 767px){
	.btnMenu {
		display: none;
	}
}
@media screen and (max-width: 860px){
	#gNavi .navUl02 li>a {
		display:block;
		padding:28px 0 0;
		width:60px;
		background-position:center top;
		background-repeat: no-repeat;
		text-align: center;
		font-size:1.2rem;
	}
	#gNavi .navUl02 li a {
		font-size: 8px;
		position: relative;
	}
	.searchBox {
		margin-left: 20px;
	}
}
@media screen and (max-width: 320px){
	.searchWrapSp .searchBox {
		max-width: 280px;
	}
	select.searchSelect {
		width: 90px;
		height: 35px;
		padding: 0 20px 0 10px;
		font-size: 10px;
		font-weight: bold;
		border: 1px solid #ddd;
		border-radius: 5px 0 0 5px;
		background: url(../img/mypage/select.svg)no-repeat right 10px center #fff;
		background-size: auto;
	}
	#header .search {
		height:35px;
		width: 175px;
	}
	#header .search input[type=text] {
		font-size: 10px;
		width:145px;
	}
	#header .search input.btn {
		background-size: 14px;
	}
	.searchClose {
		align-items: center;
	}
	.searchClose img {
		width: 12px;
		padding-top: 3.5px;
	}
}
/* #register_confirm .navHeadSp,
#register_confirm .navMypageDl,
#register_confirm .gnavEdit,
#register_confirm .link01,
#register_confirm .navUl02 .nav02,
#register_confirm .navUl02 .nav03,
#register_confirm .navUl02 .navLink{
	display: none;
} */
#create .gnavEdit,
#create .link01
{
	display: none;
}
@media screen and (min-width: 767px){
	.navMypageUlLink {
		border: none;
		padding: 0;
		margin: 0;
		font-size: 14px;
	}
	#create .navMypageUl,
#create .navMypageDl
{
		display:none;
	}
}

.flash_msg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
	font-size: 14px;
	color: #664d03;
    background-color: #fff3cd;
    border: solid 1px #ffecb5;
}

.flash_close {
	color: #664d03;
	font-weight: 100;
	font-size: 21px;
	margin-right: 21px;

}
.flash_close:hover {
	cursor: pointer;
}

@media screen and (max-width: 767px){
	.flash_msg {
		font-size: 10px;
	}
}
@media screen and (max-width: 767px){
	.navHeadSp {
		border: none;
	}
}

@media screen and (max-width: 767px){
	.spFixed {
		position: fixed !important;
		bottom: 0 !important;
		left: 0 !important;
		z-index: 99;
		width: 100%;
		display: flex;
		justify-content: center;
		background: #fff;
		padding: 0 15px;
	}
}
.error_page {
	margin: 100px auto;
	width: 50vw;
	height: 50vh;
}
.error-card{
	position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.error-header {
	border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    padding: 12px 20px;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.error-body {
	flex: 1 1 auto;
    min-height: 1px;
    padding: 20px;
	text-align: center;
}
.error-title {
	font-size:24px;
	text-align: start;
	border-bottom: solid 1px #CCCCCC;
}
.error-body p{
	text-align: start;
}
.error_small{
	font-size:11px;
	text-align: start;
}
@media screen and (max-width: 767px){
	.error_page {
		margin: 30px 0;
		padding: 0 10px;
		width: 100vw;
		height: 40vh;
	}
	.error-title {
		font-size:20px;
	}
	.error-body p{
		font-size: 14px;
	}
	.error_small{
		font-size:8px !important;
	}

}

 #mypage #side div:nth-of-type(2) ul li:nth-of-type(1) a {
    color: #333333;
    background-color: #FCAA00;
    pointer-events: none;
 }

 #favorite #side div:nth-of-type(2) ul li:nth-of-type(2) a {
    color: #333333;
    background-color: #FCAA00;
    pointer-events: none;
 }

 #chatroom-active #side div:nth-of-type(2) ul li:nth-of-type(3) a {
    color: #333333;
    background-color: #FCAA00;
    pointer-events: none;
 }

 #chatroom-inactive #side div:nth-of-type(2) ul li:nth-of-type(4) a {
    color: #333333;
    background-color: #FCAA00;
    pointer-events: none;
 }

 #payment #side div:nth-of-type(2) ul li:nth-of-type(5) a {
    color: #333333;
    background-color: #FCAA00;
    pointer-events: none;
 }

 #point #side div:nth-of-type(2) ul li:nth-of-type(6) a {
    color: #333333;
    background-color: #FCAA00;
    pointer-events: none;
 }

 #friends #side div:nth-of-type(2) ul li:nth-of-type(7) a {
    color: #333333;
    background-color: #FCAA00;
    pointer-events: none;
 }

 #news #side div:nth-of-type(2) ul li:nth-of-type(8) a {
    color: #333333;
    background-color: #FCAA00;
    pointer-events: none;
 }

 #secret01 #side div:nth-of-type(2) ul li:nth-of-type(10) a {
    color: #333333;
    background-color: #FCAA00;
    pointer-events: none;
 }

 #member #side div:nth-of-type(2) ul li:nth-of-type(13) a {
    color: #333333;
    background-color: #FCAA00;
    pointer-events: none;
 }
 #member-page #side div:nth-of-type(2) ul li:nth-of-type(13) a {
    color: #333333;
    background-color: #FCAA00;
 }

 #withdraw #side div:nth-of-type(2) ul li:nth-of-type(14) a {
    color: #333333;
    background-color: #FCAA00;
    pointer-events: none;
 }
 #resume #side div:nth-of-type(3) ul li:nth-of-type(1) a {
    color: #333333;
    background-color: #FCAA00;
    pointer-events: none;
 }

 #publication #side div:nth-of-type(3) ul li:nth-of-type(4) a {
    color: #333333;
    background-color: #FCAA00;
    pointer-events: none;
 }

 #draft #side div:nth-of-type(3) ul li:nth-of-type(5) a {
    color: #333333;
    background-color: #FCAA00;
    pointer-events: none;
 }
 .dm-page #side div:nth-of-type(2) ul li:nth-of-type(12) a {
    color: #333333;
    background-color: #FCAA00;
    pointer-events: none;
 }
 .dm-page-show #side div:nth-of-type(2) ul li:nth-of-type(12) a {
    color: #333333;
    background-color: #FCAA00;
 }


 .checkGuide.more{
	float:none;
	display:block;
	padding:0;
	margin-top: 30px;
}
.checkGuideOriginal a{
	color: #158ACC;
	font-size: 14px;
	font-weight: 100;
}
.checkGuideOriginal a:hover{
	text-decoration: underline;
}
.serviceThanksLinks{
	text-align: center;
	font-size: 3rem;
	font-weight: bold;
	margin-top: 10px;
}
 .fancyRegisterUpload {
	display: block;
	border-radius: 4px;
	font-size: 1.4rem;
	font-weight: bold;
	padding: 8px 10px;
	margin: 0 20px 10px;
	text-align: center;
	color: #158ACC;
	border: 1px solid;
}
.linkdel{
	margin-top: 50px;
}
.linkdel input{
	position: absolute;
	right: 0;
	top: 50;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 120px;
	height: 35px;
	border: 1px solid #6e6a6a;
	font-size: 1.4rem;
	font-weight: bold;
	border-radius: 3px;
	color: #6e6a6a;
	background-color: white;
}
.recommendList.style2 .list .info {
    border: 1px solid #DDDDDD;
}
.infoTop{
	border: 1px solid #DDDDDD;
	padding: 7px 8px 13px;
	display:flex;
    flex-flow: column;
    justify-content:space-between;
	width: 192px;
	height: 234px;
}
@media screen and (max-width: 766px){
	.infoTop{
		width: 168px;
		height: 200px;
	}
}

.recommendList .cateTit {
    margin-top: 32px;
}

#wrapper {
	position: relative;
	overflow: hidden;
	width:100%;
	min-height:100vh;
	z-index: 2;
	padding-top: 125px;
}

@media screen and (max-width: 767px) {
	#wrapper {
		padding-top: 50px;
	}

	.linkdel input{
		width: 100px;
		height: 25px;
		font-size: 1.2rem;
	}

	.checkGuideOriginal a{
		color: #158ACC;
		font-size: 11px;
	}

	.fancyRegisterUpload {
		display: block;
		border-radius: 4px;
		font-size: 1.4rem;
		font-weight: bold;
		padding: 8px 10px;
		margin: 0 15px 10px;
		text-align: center;
		color: #158ACC;
		border: 1px solid;
	}

	#main, .detailStyle #main, .otherPage #main {
		float: none;
		margin-bottom: 0px;
		width: 100%;
	}
}
.mypagePortfolioUl03 .fun div{
	display:inline-block;
	margin:0 4px;
	padding:0 3px;
	border:1px solid #ccc;
	line-height: 24px;
	border-radius:4px;
	color:#545454;
	font-size:1.3rem;
}
.mypagePortfolioUl03 .fun div:hover{
	cursor: pointer;

}
.functeBtns input {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    margin: 15px auto 0;
    width: 100%;
    max-width: 304px;
    height: 45px;
    background: #B5B5B5;
    border: 0;
    border-radius: 3px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.other_user #header {
	box-shadow: 0 2px 6px rgb(0 0 0 / 16%);
}
.otherNav {
	box-shadow: none;
}

@media screen and (min-width: 768px){
	.other_user#wrapper {
		padding-top: 178px;
	}
	.other_user #header {
		box-shadow: none;
	}
	.otherNav {
		box-shadow: 0 2px 6px rgb(0 0 0 / 16%);
	}
}

/* 会員情報、お知らせ機能の変更ボタン */
.blue-button {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    border-radius: 3px;
    font-size: 1.4rem;
    border: 1px solid #158ACC;
    padding: 0 12px;
    background-color: #158ACC;
    color: #fff;
    margin-left: 5px;
}

.chatroom-text a {
	color: #158ACC;
}
.chatroom-text a:hover {
	text-decoration: underline;
}
.chatPages .btns p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background: url(../img/common/arrow_find02_on.svg)no-repeat 95% center;
    border: 1px solid #ddd;
    border-radius: 50px;
}
.chatPages .btns p:hover {
	cursor: pointer;
}


@media screen and (min-width: 767px) {
	.chatPages .btns p {
		width: calc(50% - 10px);
	}
}
/*add 中澤 20220705 スキルページ */
.mypagePortfolioUl02 .editP {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.mypagePortfolioUl02 .editP a {
	display: block;
	margin: 0 10px;
}

.mypageUl03 li {
	position: relative;
	padding-right: 60px;
}

.mypageUl03 li .mypageCtrl {
	width: 60px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
}

.mypageUl03 li .mypageCtrl a,
.mypageUl03 li .mypageCtrl button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;
	border-radius: 3px;
	font-size: 1.4rem;
	border: 1px solid #158ACC;
	padding: 0 12px;
	background-color: #158ACC;
	color: #fff;
	margin-left: 5px;
}
/*add 中澤 20220705 経歴ページ */
@media screen and (min-width: 768px){
	.careerCreate .mypageEditInput select {
		width: 100%;
	}
}
.taRResume {
    text-align: right;
	font-size: 11px;
}
.specialtyBtnCustom span,
.specialtyBtnCustom a{
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	padding: 5px 10px;
	font-size: 1.2rem;
	border-radius: 20px;
	background-color: #fff;
	color: #158ACC;
}
.specialtyBtnCustom img{margin-right: 4px}
.specialtyItem + .specialtyItem{
	border-top: 1px solid #CCCCCC;
	padding-top: 25px;
	margin-top: 25px;
}
#side .functeBtns .cancel {
    height: 36px;
    color: #313131;
    font-size: 1.4rem;
    font-weight: 300;
}
@media screen and (max-width: 767px){
	.chatPages .btns p {
		width:100%;
	}
}
.icoDm img{
	width: 60px;
	height: 50px;
	object-fit: cover;
	border-radius: 50%;
}
.icoNoImg{
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 50%;
}
.subPagesTab .tabLink li a{
	padding: 10px;
}
/* アンケート評価５つ星 */
.rate-form {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
  }
  .rate-form input[type=radio] {
	display: none;
  }
  .rate-form label {
	position: relative;
	padding: 0 5px;
	color: #ccc;
	cursor: pointer;
	font-size: 52px;
  }
  .rate-form label:hover {
	color: #ffcc00;
  }
  .rate-form label:hover ~ label {
	color: #ffcc00;
  }
  .rate-form input[type=radio]:checked ~ label {
	color: #ffcc00;
  }
.configEditTable {
	display: flex;
	margin-top: 10px;
}
.configEditTable:first-child {
	margin:0;
}
.configEditDeleteBtn {
	align-items: center;
	color: #fff;
	background: #158ACC;
	border-radius: 3px;
	width: 50px;
	max-width: 100%;
	height: 32px;
	line-height: 32px;
	margin: auto 0;
	text-align: center;
	border: none;
}
.creditCode input[class=small] {
	border: 1px solid #DDDDDD;
	background-color: #fff;
    border-radius: 3px;
    font-size: 1.4rem;
	width: 74px;
    height: 40px;
    padding: 0 10px;
}
.mypageEditInput input[type='tell']{
    border: 1px solid #DDDDDD;
    background-color: #fff;
    border-radius: 3px;
    font-size: 1.4rem;
    width: 100%;
    height: 40px;
    padding: 0 10px;
}
@media screen and (max-width: 767px){
	.mypageEditInput input[type='tell'] {
		font-size: 1.2rem;
		height: 35px;
	}
}
.bl_credit-card-info {
    display: flex;
    padding: 16px;
    border: 1px solid #eee;
    font-size: 13px;
	margin: 10px auto;
}
.credit-card-info-number{
	margin-right:24px;
}
.mypageEditHd{
	display: flex;
}
.mypageEditHd span{
	margin-left: 20px;
	font-weight: 100;
	color: red;
}
