@charset "utf-8";
/*
 * custom.css
 * 
 */

 /* スマホ表示切替レスポンシブ(766xまでスマホ表示)
 	layout.css 287あたり、
		@media screen and (max-width: 860px) {　
									　 ↓
		@media screen and (max-width: 767px) {
										変更する必要あり。
		
		@media screen and (max-width: 767px) {
		#gNavi .navUl02.pc{display: none}
		#gNavi .navUl02.sp{display: block;}
		.btnMenu{ display:block; }
		#gNavi{ ~~~~~~ 

	page.css 4095あたり、
		@media screen and (max-width: 860px) {　
									　 ↓
		@media screen and (max-width: 767px) {
										変更する必要あり。
			.navHeadSp { ~~~ } */

/* コメントアウトしている間のみヘッダーフッター調整 */
	/* ヘッダー */
	#wrapper {
		padding-top: 81px; 
	}
	/* フッター */
	@media screen and (max-width: 767px){
		#footer .bottom {
			padding: 15px 0;
			border-top: 0;
		}
		#footer {
			padding: 0;
			bottom: 50px !important;
			width: 100vw;
		}
		#footer .serviceLinks {
			display: block;
			margin-bottom: 0;
		}
		#footer .bottom .inner {
			display: flex;
		}
	}
	#footer .bottom {
		padding: 40px 0;
	}
/* コメントアウトしている間のみヘッダーフッター調整 */


.detailStyle .recommendList .list .item{max-width: 212px}
.fancyPersonTable select {
	color: black;
}
.fancyPersonBtn button{
	margin-left: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;
	border-radius: 3px;
	font-size: 1.4rem;
	border: 1px solid #CCCCCC;
	padding: 0 12px;
	background-color: #fff;
}
.fancyPersonBtn button.fancyPersonSign{
	border: 0;
	background-color: #158ACC;
	color: #fff;
	font-weight: bold;
}
.fancyPersonPic p.img {
	height: 140px;
	width: 140px;
}
.mypageCover{
	margin: 0 -20px;
	position: relative;
	height: 230px;
}
.mypageCover label{
	position: absolute;
	right: 40px;
	top: 20px;
	z-index: 2;
}

#preview_cover{
	width: 100%;
	height: 230px;
	object-fit: cover;
}
@media screen and (max-width: 767px){
	#preview_cover{
		height: 160px;
	}
	.add_cover {
		height: 25px;
	}
}

.alert.alert-danger {
	color:red;
}

.contactBox .labelCategory input[type='password'],
.contactBox .labelCategory input[type='email'] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    height: 45px;
    padding: 0 14px;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-top: 5px;
}

@media screen and (max-width: 767px){
	#gNavi .navLinks li {
		margin: 0 20px;
		-ms-writing-mode     : tb-rl;
		-webkit-writing-mode : vertical-rl;
		writing-mode         : vertical-rl;
	}
}
.active .sp {
 	display: block;
}

@media screen and (max-width: 1080px){
	#header .fun a {
		padding: 0 10px;
		width: auto;
		white-space: nowrap;
	}
}
#header .navMypageUl a.log {
	width: 80px;
	text-align: center;
	margin:10px 10px 10px 0;
	background:#9CC948;
	border-radius:4px;
	line-height: 40px;
	color:#fff;
	font-size:1.3rem;
	font-weight: bold;
	padding: 0 10px;
	width: auto;
	white-space: nowrap;
	display: flex;
    justify-content: center;
    align-items: center;
}
#login #header .navMypageUl a.log,
#register_confirm #header .navMypageUl a.log
 {
	display:none;
}
#login #header .fun a.log,
#register_confirm #header .fun a.log  {
	display:none;
}
#register #header .navMypageUl a.sign,
#register_confirm #header .navMypageUl a.sign {
	display:none;
}
#register #header .fun a.sign,
#register_confirm #header .fun a.sign {
	display:none;
}
#header .navMypageUl .sign{
	width: 80px;
	text-align: center;
	margin:10px 10px 10px 0;
	background:#45B2E6;
	border-radius:4px;
	line-height: 40px;
	color:#fff;
	font-size:1.3rem;
	font-weight: bold;
	padding: 0 10px;
	width: auto;
	white-space: nowrap;
	display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 768px){
	.btnMenu.active span {
		background-color: #777777;
	}
}
#register_confirm #wrapper {
	min-height: auto;
}

.input_a {
	width: 100%;
	color: #1f98da;
	background-color: white !important;
    margin-bottom: 60px;
	border: none;
	align-items: center;
}
@media screen and (max-width: 767px){
	#header .fun {
    	padding-right: 0px;
		display: none;
	}
	.mypageCover{
		margin: 0 -15px;
		position: relative;
		height: 160px;
		object-fit: cover;
	}
	.btnMenu.active span {
		background-color: #ffffff;
	}
	.input_a {
		margin-bottom: 30px;
	}
	.stepUl li + li .stepDot:before {
		width: 150px;
	}
}
@media screen and (max-width: 320px){
	.stepUl li + li .stepDot:before {
		width: 120px;
	}
}
.fancybox-overlay {
    background-color: rgba(0,0,0,.5) !important;
}
.navMypageDl dt {
    border: none;
}
@media screen and (max-width: 860px){
	.navMypageUl a.blueBtn {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 4px;
		height: 30px;
		color: #fff;
		font-weight: bold;
		background: #158ACC;
		margin: 10px 0;
	}
	.gnavEdit a {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 12px;
		height: 30px;
		border: 1px solid #B6BFC2;
		border-radius: 4px;
		margin: 15px 0;
	}
	.navMypageUl + .navMypageUl {
		border-top: 1px solid #ddd;
		padding-top: 15px;
		margin-top: 20px;
	}
}
#gNavi .navUl02 li a.nav_mypage {
    border: none;
}

.fancyImgBtn {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}
.fancyImgBtn a {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    border-radius: 3px;
    font-size: 1.1rem;
    border: 1px solid #CCCCCC;
    padding: 0 5px;
    background-color: #fff;
}
.unregisteredP {
    justify-content: space-between;
}

/*  身分証登録ポップアップ閉じるボタン */
.pop_close:hover {
	cursor: pointer;
}
.pop_close {
	margin-right: 20px;
	font-weight: 700;
    font-size: 2.2rem;
	color: white;
}
@media screen and (max-width: 425px){
	.pop_close {
    font-size: 1.6rem;
	margin-right: 10px;
	}
}
.mypageCover label {
    right: 20px;
}
.checkBox label a {
	color: #158ACC;
}
@media screen and (min-width: 767px){
	.btnMenu {
		display: none;
	}
}
@media screen and (max-width: 860px){
	#gNavi .navUl02 li>a {
		display:block;
		padding:28px 0 0;
		width:60px;
		background-position:center top;
		background-repeat: no-repeat;
		text-align: center;
		font-size:1.2rem;
	}
	#gNavi .navUl02 li a {
		font-size: 8px;
		position: relative;
	}
	.searchBox {
		margin-left: 20px;
	}
}
@media screen and (max-width: 320px){
	.searchWrapSp .searchBox {
		max-width: 280px;
	}
	select.searchSelect {
		width: 90px;
		height: 35px;
		padding: 0 20px 0 10px;
		font-size: 10px;
		font-weight: bold;
		border: 1px solid #ddd;
		border-radius: 5px 0 0 5px;
		background: url(../img/mypage/select.svg)no-repeat right 10px center #fff;
		background-size: auto;
	}
	#header .search {
		height:35px;
		width: 175px;
	}
	#header .search input[type=text] {
		font-size: 10px;
		width:145px;
	}
	#header .search input.btn {
		background-size: 14px;
	}
	.searchClose {
		align-items: center;
	}
	.searchClose img {
		width: 12px;
		padding-top: 3.5px;
	}
}
/* #register_confirm .navHeadSp,
#register_confirm .navMypageDl,
#register_confirm .gnavEdit,
#register_confirm .link01,
#register_confirm .navUl02 .nav02,
#register_confirm .navUl02 .nav03,
#register_confirm .navUl02 .navLink{
	display: none;
} */
#create .gnavEdit,
#create .link01
{
	display: none;
}
@media screen and (min-width: 767px){
	.navMypageUlLink {
		border: none;
		padding: 0;
		margin: 0;
		font-size: 14px;
	}
	#create .navMypageUl,
#create .navMypageDl
{
		display:none;
	}
}

.flash_msg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
	font-size: 14px;
	color: #664d03;
    background-color: #fff3cd;
    border: solid 1px #ffecb5;
}

.flash_close {
	color: #664d03;
	font-weight: 100;
	font-size: 21px;
	margin-right: 21px;

}
.flash_close:hover {
	cursor: pointer;
}

@media screen and (max-width: 767px){
	.flash_msg {
		font-size: 10px;
	}
}
@media screen and (max-width: 767px){
	.navHeadSp {
		border: none;
	}
}

@media screen and (max-width: 767px){
	.spFixed {
		position: fixed !important;
		bottom: 0 !important;
		left: 0 !important;
		z-index: 99;
		width: 100%;
		display: flex;
		justify-content: center;
		background: #fff;
		padding: 0 15px;
	}
}
.error_page {
	margin: 100px auto;
	width: 50vw;
	height: 50vh;
}
.error-card{
	position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.error-header {
	border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    padding: 12px 20px;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.error-body {
	flex: 1 1 auto;
    min-height: 1px;
    padding: 20px;
	text-align: center;
}
.error-title {
	font-size:24px;
	text-align: start;
	border-bottom: solid 1px #CCCCCC;
}
.error-body p{
	text-align: start;
}
.error_small{
	font-size:11px;
	text-align: start;
}
@media screen and (max-width: 767px){
	.error_page {
		margin: 30px 0;
		padding: 0 10px;
		width: 100vw;
		height: 40vh;
	}
	.error-title {
		font-size:20px;
	}
	.error-body p{
		font-size: 14px;
	}
	.error_small{
		font-size:8px !important; 
	}

}